# Plantilla del archivo de entorno (Este SÍ se sube a Git)
# Copia este archivo, renómbralo a .env y llena tus datos reales
DB_HOST=127.0.0.1
DB_NAME=tu_base_de_datos
DB_USER=tu_usuario
DB_PASS=tu_contraseña
